<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853905520563-4840jpqb651dbl4efjd3mtjidkdanerm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853905520563-4840jpqb651dbl4efjd3mtjidkdanerm</string>
	<key>API_KEY</key>
	<string>AIzaSyAiXHow-7C6-hxyz5CSmsFHMqxJ8q6vEzM</string>
	<key>GCM_SENDER_ID</key>
	<string>853905520563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mjansen4857.rrAttendance</string>
	<key>PROJECT_ID</key>
	<string>rr-attendance-4fe28</string>
	<key>STORAGE_BUCKET</key>
	<string>rr-attendance-4fe28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853905520563:ios:68518c7a85ddbd93a6fdc6</string>
	<key>DATABASE_URL</key>
	<string>https://rr-attendance-4fe28.firebaseio.com</string>
</dict>
</plist>